<% provide(:title, @student.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @student.name %>
      </h1>
      <p>
        <%= @student.s_class %>
      </p>
      <p>
        <%= @student.s_code %>
      </p>
      <p>
        <%= @student.s_no %>
      </p>
    </section>
  </aside>
</div>