<div class="user-detail">
  <div class="box">
    <h2>会社概要</h2>
    <p>
      ゲーム・CG・ミュージック・カーデザイン・ロボット・IT・WEB・国際資格取得などの各々の専門コースを設け、幅広い専門技術・知識・完成を兼ね備えた「社会人」を育成する学校です。<br>
      実社会で役立つ知識・技術を習得する高等教育機関として、社会から多くの支持を得ています。
    </p>
  </div>
  <div class="box">
    <h2>会社情報</h2>
    <ul>
      <li>会社名：専門学校HAL東京</li>
      <li>勤務地：東京都新宿区</li>
      <li>職種：教師 WEBエンジニア スーパークリエイター エバンジェリスト</li>
      <li>会社URL：<a href="https://www.hal.ac.jp/tokyo/">学校法人・専門学校HAL東京</a></li>
    </ul>
  </div>
  <div class="box">
    <h2>事業・製品</h2>
    <ul>
      <li>就職作品プレゼンテーション</li>
      <li>未来創造展</li>
      <li>進級制作展 HAL EVENT WEEK</li>
    </ul>
  </div>
  <div class="system box">
    <h2>制度・待遇</h2>
    <ul>
      <li>就職・資格保証</li>
      <li>プロが直接指導「スペシャルゼミ」</li>
      <li>産学直結ケーススタディ</li>
    </ul>
  </div>
</div>