<li><%= @client.c_name %> </li>
<li>@<%= @client.c_id %></li>

<div class="tags">
  <!-- should coding -->
  <div class="tag skill">ruby</div>
  <div class="tag skill">java</div>
  <div class="tag skill">html</div>
  <div class="tag skill">css</div>
  <div class="tag system">完全週休２日</div>
  <div class="tag system">即内定</div>
  <div class="tag system">ボーナスあり</div>
  <div class="tag system">年収５００万</div>
  <div class="tag system">君がほしい</div>
  <div class="tag system">部活制度あり</div>
</div>
