<li><%= @client.c_name %> </li>
<li>@<%= @client.c_id %></li>

<div class="tags">
  <h3>登録タグ</h3>
  <% if @client == current_user.client %>
    <div><%= link_to "タグを編集する", edit_user_path %></div>
  <% end %>
  <!-- スキルタグ -->
  <% @client.skill_list.each do |skill| %>
    <div class="tag skill">
      <%= link_to skill, :controller => "students", :action => "index", q: {skills_name_cont: skill} %>
    </div>
  <% end %>
</div>
