<div class="client-profile">
  <div class="box recommend">
    <h2>お気に入り済みの学生</h2>
    <ul>

    </ul>
    <h2>おすすめの学生</h2>
    <ul>
      <li>あきと</li>
      <li>なかやま</li>
      <li>あきとくん</li>
    </ul>
  </div>
  <div class="box log">
    <h2>もう一度見る</h2>
    <ul>
      <li>あきと</li>
      <li>なかやま</li>
      <li>あきとくん</li>
    </ul>
  </div>
</div>