<%= cf.label :c_id %> <span>検索などに使用されます。</span>
<%= cf.text_field :c_id, class: 'form-controle', :placeholder => "hal_tokyo" %>

<%= cf.label :c_name %>
<%= cf.text_field :c_name, class: 'form-controle', :placeholder => "HAL東京" %>
