<% provide(:title, @user.name) %>

<div class="content">
  <div class="row">
    <div class="col-sm-3">
      <div class="user-info">
        <h2 class="user-image">
          <%= image_tag(@user.image.url, :size  => "180x180") %>
        </h2>
        <ul class="user-basic-info">
          <li class="user-name"><%= @user.name %></li>
          <% if @student %>
            <%= render partial: "student", locals: {student: @student} %>
          <% end %>
          <% if @client %>
            <%= render partial: "client", locals: {client: @client} %>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="user-detail">
        <div class="profile box">
          <h2>自己紹介</h2>
          <p>
            HAL東京高度情報処理学科３年の中山暁登と申します。<br>
            Webサービス開発が好きで、JavaやRailsを中心として開発を行っています。<br>
            性格はご覧の通り明るく、リーダーとして活動することも多いです。<br>
            能動的な性格で、自分から企画を立ち上げて実行することも多いです。
          </p>
        </div>
        <div class="product box">
          <h2>作品・実績</h2>
          <ul>
            <li>プレナビ</li>
            <li>自撮リンピック</li>
            <li>winroader</li>
          </ul>
        </div>
        <div class="feature box">
          <h2>やりたい仕事</h2>
          <ul>
            <li>Webサービス開発・運用</li>
            <li>サービスのスタートアップ</li>
            <li>プロダクトマネージャ</li>
          </ul>
        </div>
        <div class="notification box">
          <h2>お知らせ</h2>
          <ul>
            <li>nanofun株式会社さんがお気に入り登録しました。</li>
            <li>熊谷基継さんがあなたを評価しました。</li>
            <li>Prenaviにようこそ！</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>