<% provide(:title, @user.name) %>

<div class="content">
  <div class="row">
    <div class="col-sm-3">
      <div class="user-info">
        <h2 class="user-image">
          <%= image_tag(@user.image.url(:profile)) %>
        </h2>
        <ul class="user-basic-info">
          <li class="user-name"><%= @user.name %></li>
          <%= render partial: "users/client", locals: {client: @client} %>
        </ul>
      </div>
    </div>
    <div class="col-sm-9">
      <%= render partial: "users/client_detail", locals: {student: @student} %>
    </div>
  </div>
</div>