<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1 class="">
        <%= @client.c_name %>
      </h1>
    </section>
    <section class="work">
      <h2>お気に入り学生一覧</h2>
      <% @client.students.each do |student|  %>
        <p><%= link_to student.name, student_path(student) %></p>
      <% end %>
    </section>
    <section class="access">
    </section>
  </aside>
</div>