<% provide(:title, "Home") %>
<div class="top-box center">
  <div class="item">
    <h1>素敵な学生、発 見。</h1>
    <%= link_to "企業側新規登録", signup_path(attr: 'client'), class:  "btn btn-lg btn-primary" %>
    <%= link_to "学生側新規登録", signup_path(attr: 'student'), class: "btn btn-lg btn-warning" %>
  </div>
  <hr>
  <div class="box-footer"><a href="#">プレナビとは？</a></div>
</div>