<div style="margin: 30px 0"><a href="rooms?ver=hew">就プレバージョンへ</a></div>
  <div class="row">
    <div class="col-md-12">
      <ul class="floors">
        <li class="item">
          <div class="inline-block inline-block stop-elevetor"></div>
          <div class="inline-block">36F</div>
          <div class="inline-block">先端ロボット開発学科</div>
          <div class="tag saron">サロン</div>
          <div class="tag bending">自販機</div>
        </li>
        <li class="item">
          <div class="inline-block inline-block gone-elevetor"></div>
          <div class="inline-block">35F</div>
        </li>
        <li class="item">
          <div class="inline-block inline-block gone-elevetor"></div>
          <div class="inline-block">34F</div>
          <div class="inline-block">ミュージック学科</div>
        </li>
        <li class="item">
          <div class="inline-block stop-elevetor"></div>
          <div class="inline-block">33F</div>
          <div class="tag saron">サロン</div>
          <div class="tag bending">自販機</div>
        </li>
        <li class="item">
          <div class="inline-block gone-elevetor"></div>
          <div class="inline-block">32F</div>
          <div class="inline-block">ゲームデザイン学科</div>
        </li>
        <li class="item">
          <div class="inline-block gone-elevetor"></div>
          <div class="inline-block">31F</div>
          <div class="inline-block">ゲーム制作学科</div>
        </li>
        <li class="item">
          <div class="inline-block stop-elevetor"></div>
          <div class="inline-block">30F</div>
        </li>
        <li class="item">
          <div class="inline-block gone-elevetor"></div>
          <div class="inline-block">29F</div>
          <div class="inline-block">ゲーム企画学科</div>
          <div class="inline-block">グラフィックデザイン学科</div>
        </li>
        <li class="item">
          <div class="inline-block gone-elevetor"></div>
          <div class="inline-block">28F</div>
          <div class="inline-block">CG映像学科／アニメ・イラスト学科</div>
        </li>
        <li class="item">
          <div class="inline-block stop-elevetor"></div>
          <div class="inline-block">27F</div>
          <div class="tag saron">サロン</div>
          <div class="tag bending">自販機</div>
        </li>
        <li class="item">
          <div class="inline-block gone-elevetor"></div>
          <div class="inline-block">26F</div>
        </li>
        <li class="item">
          <div class="inline-block gone-elevetor"></div>
          <div class="inline-block">25F</div>
          <div class="inline-block"><a href="rooms/257">高度情報処理学科</a></div>
          <div class="inline-block">WEB開発学科</div>
        </li>
        <li class="item">
          <div class="inline-block stop-elevetor"></div>
          <div class="inline-block">24F</div>
          <div class="tag saron">サロン</div>
          <div class="tag bending">自販機</div>
        </li>
        <li class="item">
          <div class="inline-block gone-elevetor"></div>
          <div class="inline-block">・・・</div>
        </li>
        <li class="item">
          <div class="inline-block start-elevetor"></div>
          <div class="inline-block">2F</div>
          <div class="inline-block">セブンイレブン</div>
        </li>
      </ul>
      <p class="caution">
        ・ご不明な点などございましたらお近くの教員やスタッフまでお声かけください。<br>
        ・お困りの際はIT012に投票してください。
      </p>
    </div>