<% provide(:title, 'エリア一覧') %>
<div class="content">
  <h1>フロアから探す</h1>
  <div class="row">
    <div class="col-md-12">
      <ul class="floors">
        <li class="item">
          <div class="inline-block inline-block gone-elevetor"></div>
          <div class="inline-block">34F</div>
          <div class="inline-block">ミュージック</div>
        </li>
        <li class="item">
          <div class="inline-block stop-elevetor"></div>
          <div class="inline-block">33F</div>
          <div class="tag saron">サロン</div>
          <div class="tag bending">自販機</div>
        </li>
        <li class="item">
          <div class="inline-block gone-elevetor"></div>
          <div class="inline-block">32F</div>
        </li>
        <li class="item">
          <div class="inline-block gone-elevetor"></div>
          <div class="inline-block">31F</div>
          <div class="inline-block"><a href="rooms/31">高度情報処理（東京）</a></div>
          <div class="tag restroom">休憩室</div>
        </li>
        <li class="item">
          <div class="inline-block stop-elevetor"></div>
          <div class="inline-block">30F</div>
        </li>
        <li class="item">
          <div class="inline-block gone-elevetor"></div>
          <div class="inline-block">29F</div>
          <div class="inline-block"> 高度情報処理（大阪・名古屋）</div>
        </li>
        <li class="item">
          <div class="inline-block gone-elevetor"></div>
          <div class="inline-block">28F</div>
          <div class="inline-block">WEB開発</div>
        </li>
        <li class="item">
          <div class="inline-block stop-elevetor"></div>
          <div class="inline-block">27F</div>
          <div class="tag saron">サロン</div>
          <div class="tag bending">自販機</div>
          <div class="tag women">女子トイレ</div>
          <div class="tag men">男子トイレ</div>
        </li>
        <li class="item">
          <div class="inline-block gone-elevetor"></div>
          <div class="inline-block">26F</div>
        </li>
        <li class="item">
          <div class="inline-block gone-elevetor"></div>
          <div class="inline-block">25F</div>
        </li>
        <li class="item">
          <div class="inline-block stop-elevetor"></div>
          <div class="inline-block">24F</div>
          <div class="tag saron">サロン</div>
          <div class="tag bending">自販機</div>
          <div class="tag women">女子トイレ</div>
          <div class="tag men">男子トイレ</div>
        </li>
        <li class="item">
          <div class="inline-block gone-elevetor"></div>
          <div class="inline-block">・・・</div>
        </li>
        <li class="item">
          <div class="inline-block start-elevetor"></div>
          <div class="inline-block">2F</div>
          <div class="inline-block">受付</div>
        </li>
      </ul>
      <p class="caution">
        ・全館禁煙となっております。ご了承ください。<br>
        ・お待ち合わせには31階休憩室をご利用ください。<br>
        ・ご不明な点などございましたらお近くの教員やスタッフまでお声かけください。
      </p>
    </div>
</div>