<% provide(:title, "部屋情報") %>
<div id="room">
  <div class="map">
    <% row =@room.row %>
    <% col = @room.col %>
    <% for i in 0...row %>
      <ul>
        <% for j in 0...col %>
          <% pos_info =  info_at_position(@positions, j, i) %>
          <% if pos_info %>
            <li class="box exist">
              <span>
              <% student = Student.find_by(exhibit_code: pos_info[:exhibit_code]) %>
              <%= pos_info[:exhibit_code] %><br>
              <% if student %>
                <%= student.user.name %>
              <% end %>
              </span>
            </li>
          <% else %>
            <li class="box none"></li>
          <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</div>