// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tar {
  text-align: right;
  padding-right: 20px;
}
.product {
  h2 {
    text-align: center;
  }
  h3 {
    padding: 8px;
    margin: 0 !important;
    color: #fff;
    background-color: #cc000a;
  }
  p {
    padding: 14px !important;
    margin-bottom: 10px;
  }
  .frame {
    padding: 2px;
    background-color: #fff;
    border: 1px solid #cacaca;
    border-radius: 3px;
  }
  .product-info {
    border: 2px solid #aa000a;
    border-radius: 3px;
    h2 {
      margin: 0 !important;
      padding: 10px 0;
      background-color: #cc000a;
      color: #fff;
    }
  }
  .product-image {
    margin: 0;
    text-align: center;
    img {
      margin: 20px 0;
    }
  }
  .product-detail {
    border: 1px solid #cacaca;
    border-radius: 3px;
  }
  .product-user {
    margin-top: 10px;
    padding: 10px;
    .prof {
      display: inline-block;
      text-align: center;
    }
    .about {
      padding: 10px 0 10px 20px;
      display: inline-block;
      vertical-align: top;
    }
  }
}

@media screen and (max-width: 768px){
  .product {
    h2 {
      text-align: center;
    }
    h3 {
      font-size: 16px !important;
      margin-bottom: 8px !important;
    }
    p {
      font-size: 12px !important;
    }
    .frame {
      padding: 2px;
      background-color: #fff;
      border: 1px solid #cacaca;
      border-radius: 3px;
    }
    .product-image {
      text-align: center;
    }
    .product-detail {
      margin-top: 30px;
    }
    .product-user {
      padding: 10px;
      .prof {
        display: inline-block;
        text-align: center;
        width: 45%;
      }
      .about {
        width: 50%;
        padding: 10px 0;
        display: inline-block;
        vertical-align: top;
      }
    }
  }
}