// Place all the styles related to the Students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* Students index */
.students {
  list-style: none;
  margin: 0;
  img {
    padding: 2px;
    background-color: #fff;
    border: 1px solid #cacaca;
    border-radius: 2px
  }
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
}

/** index **/
.item {
  padding-right: 10px;
  vertical-align: middle;
  display: inline-block;
  max-width: 550px;
}