// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main-text: #000;
$sub-text: #acacac;
@mixin item-box {
  border: 1px solid #eaeaea;
  border-radius: 3px;
  overflow: hidden;
}
@mixin tag {
  font-size: 15px;
  float: left;
  margin-right: 5px;
  padding: 0 5px;
  border-radius: 2px;
  color: #fdfdfd;
  margin: 5px 7px 5px 0;
}

.user-info {
  h2 {
    margin: 0;
  }
  margin: 0 auto;
  width: 180px;
  .user-image {
    text-align: center;
  }
  .user-basic-info {
    padding: 0;
    list-style: none;
    li {
      margin: 5px 0;
      color: $sub-text;
      font-size: 16px;
    }
    .user-name {
      color: $main-text;
      font-size: 32px;
    }
    .tags {
      margin: 20px 0;
      .tag {
        @include tag;
      }
      .skill {
        background-color: #039be5;
      }
      .personality {
        background-color: #fbc02d;
      }
    }
  }
}
.user-detail {
  .box {
    margin-bottom: 30px;
    @include item-box;
  }
  h2 {
    color: #efefef;
    font-size: 18px;
    margin: 0;
    padding: 8px;
    background-color: #4682b4;
  }
  p {
    margin: 20px;
  }
  ul {
    padding: 0;
    margin: 20px;
  }
  li {
    margin: 8px 0;
    list-style: none;
  }
  margin: 0 20px;
}