// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#room {
  overflow: scroll;
  .map {
    margin: 40px;
    ul {
      width: 1800px;
      font-size: 0;
      margin: 0;
      letter-spacing: -0.4em;
      word-spacing: 0.1em;
    }
    li {
      display: inline-block;
      width: 70px;
      height: 50px;
      font-size: 12px;
      letter-spacing: normal;
      vertical-align: top;
    }
  }
  .box {
    background-color: #fff;
    border: 1px solid #000;
  }
}