// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#room {
  overflow: scroll;
  .map {
    margin: 40px 20px 10px 20px;
    ul {
      width: 1500px;
      font-size: 0;
      margin: 0;
      letter-spacing: -0.4em;
      word-spacing: 0.1em;
    }
    li {
      display: inline-block;
      width: 60px;
      height: 40px;
      font-size: 12px;
      letter-spacing: normal;
      vertical-align: top;
    }
  }
  .exist-box {
    background-color: #e6e6e6;
    border: 1px solid #1a1a1a;
  }
  .none-box {
    background-color: #fff;
  }
  .code {
    height: 33%;
    text-align: center;
    background-color: #cc000a;
    color: #fff;
  }
  .student {
    height: 67%;
    text-align: center;
    background-color: #fff;
  }
}