<footer class="footer">
  <nav>
    <ul>
      <li><a href="https://prenavi.herokuapp.com/rooms/257?exhibit_code=IT011">IT011@257</a></li>
      <li><%= link_to "Github",   'https://github.com/seconoid' %></li>
      <li><%= link_to "Twitter", 'https://twitter.com/secon_second' %></li>
      <li><%= link_to "Facebook", 'https://www.facebook.com/seconoid' %></li>
      <li><%= link_to "About", '#' %></li>
    </ul>
  </nav>
</footer>